*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# if you are on a mac.
**/.DS_Store


benchmarks/00_bfs/IntBfs01/RegressionTestDriver.dtrace.gz
benchmarks/00_bfs/IntBfs01/RegressionTestDriver.inv.gz
benchmarks/00_bfs/IntBfs01/__randoop_0000/
benchmarks/00_bfs/IntBfs01/dljc-out/
benchmarks/00_bfs/IntBfs01/run_randoop_0000.sh
benchmarks/00_bfs/IntBfs02/RegressionTestDriver.dtrace.gz
benchmarks/00_bfs/IntBfs02/RegressionTestDriver.inv.gz
benchmarks/00_bfs/IntBfs02/__randoop_0000/
benchmarks/00_bfs/IntBfs02/dljc-out/
benchmarks/00_bfs/IntBfs02/run_randoop_0000.sh
benchmarks/00_bfs/NodeBfs01/RegressionTestDriver.dtrace.gz
benchmarks/00_bfs/NodeBfs01/RegressionTestDriver.inv.gz
benchmarks/00_bfs/NodeBfs01/__randoop_0000/
benchmarks/00_bfs/NodeBfs01/dljc-out/
benchmarks/00_bfs/NodeBfs01/run_randoop_0000.sh
benchmarks/00_bfs/NodeBfs02/RegressionTestDriver.dtrace.gz
benchmarks/00_bfs/NodeBfs02/RegressionTestDriver.inv.gz
benchmarks/00_bfs/NodeBfs02/__randoop_0000/
benchmarks/00_bfs/NodeBfs02/dljc-out/
benchmarks/00_bfs/NodeBfs02/run_randoop_0000.sh
benchmarks/01_ssl/ssl01/RegressionTestDriver.dtrace.gz
benchmarks/01_ssl/ssl01/RegressionTestDriver.inv.gz
benchmarks/01_ssl/ssl01/__randoop_0000/
benchmarks/01_ssl/ssl01/dljc-out/
benchmarks/01_ssl/ssl01/run_randoop_0000.sh
benchmarks/01_ssl/ssl02/RegressionTestDriver.dtrace.gz
benchmarks/01_ssl/ssl02/RegressionTestDriver.inv.gz
benchmarks/01_ssl/ssl02/__randoop_0000/
benchmarks/01_ssl/ssl02/dljc-out/
benchmarks/01_ssl/ssl02/run_randoop_0000.sh
benchmarks/01_ssl/ssl03/RegressionTestDriver.dtrace.gz
benchmarks/01_ssl/ssl03/RegressionTestDriver.inv.gz
benchmarks/01_ssl/ssl03/__randoop_0000/
benchmarks/01_ssl/ssl03/dljc-out/
benchmarks/01_ssl/ssl03/run_randoop_0000.sh
benchmarks/01_ssl/ssl04/RegressionTestDriver.dtrace.gz
benchmarks/01_ssl/ssl04/RegressionTestDriver.inv.gz
benchmarks/01_ssl/ssl04/__randoop_0000/
benchmarks/01_ssl/ssl04/dljc-out/
benchmarks/01_ssl/ssl04/run_randoop_0000.sh
benchmarks/01_ssl/ssl05/RegressionTestDriver.dtrace.gz
benchmarks/01_ssl/ssl05/RegressionTestDriver.inv.gz
benchmarks/01_ssl/ssl05/__randoop_0000/
benchmarks/01_ssl/ssl05/dljc-out/
benchmarks/01_ssl/ssl05/run_randoop_0000.sh
benchmarks/01_ssl/ssl06/RegressionTestDriver.dtrace.gz
benchmarks/01_ssl/ssl06/RegressionTestDriver.inv.gz
benchmarks/01_ssl/ssl06/__randoop_0000/
benchmarks/01_ssl/ssl06/dljc-out/
benchmarks/01_ssl/ssl06/run_randoop_0000.sh
benchmarks/08_text_messaging_outrage/Biginner_0_0/RegressionTestDriver.dtrace.gz
benchmarks/08_text_messaging_outrage/Biginner_0_0/RegressionTestDriver.inv.gz
benchmarks/08_text_messaging_outrage/Biginner_0_0/__randoop_0000/
benchmarks/08_text_messaging_outrage/Biginner_0_0/dljc-out/
benchmarks/08_text_messaging_outrage/Biginner_0_0/run_randoop_0000.sh
benchmarks/08_text_messaging_outrage/fate_0_1/RegressionTestDriver.dtrace.gz
benchmarks/08_text_messaging_outrage/fate_0_1/RegressionTestDriver.inv.gz
benchmarks/08_text_messaging_outrage/fate_0_1/__randoop_0000/
benchmarks/08_text_messaging_outrage/fate_0_1/dljc-out/
benchmarks/08_text_messaging_outrage/fate_0_1/run_randoop_0000.sh
benchmarks/08_text_messaging_outrage/sunilpadda_0_0/RegressionTestDriver.dtrace.gz
benchmarks/08_text_messaging_outrage/sunilpadda_0_0/RegressionTestDriver.inv.gz
benchmarks/08_text_messaging_outrage/sunilpadda_0_0/__randoop_0000/
benchmarks/08_text_messaging_outrage/sunilpadda_0_0/dljc-out/
benchmarks/08_text_messaging_outrage/sunilpadda_0_0/run_randoop_0000.sh
benchmarks/08_text_messaging_outrage/tck_0_1/RegressionTestDriver.dtrace.gz
benchmarks/08_text_messaging_outrage/tck_0_1/RegressionTestDriver.inv.gz
benchmarks/08_text_messaging_outrage/tck_0_1/__randoop_0000/
benchmarks/08_text_messaging_outrage/tck_0_1/dljc-out/
benchmarks/08_text_messaging_outrage/tck_0_1/run_randoop_0000.sh
benchmarks/09_decision_tree/Abot3k_0_1/RegressionTestDriver.dtrace.gz
benchmarks/09_decision_tree/Abot3k_0_1/RegressionTestDriver.inv.gz
benchmarks/09_decision_tree/Abot3k_0_1/__randoop_0000/
benchmarks/09_decision_tree/Abot3k_0_1/dljc-out/
benchmarks/09_decision_tree/Abot3k_0_1/run_randoop_0000.sh
benchmarks/09_decision_tree/abdoabdo5_0_0/RegressionTestDriver.dtrace.gz
benchmarks/09_decision_tree/abdoabdo5_0_0/RegressionTestDriver.inv.gz
benchmarks/09_decision_tree/abdoabdo5_0_0/__randoop_0000/
benchmarks/09_decision_tree/abdoabdo5_0_0/dljc-out/
benchmarks/09_decision_tree/abdoabdo5_0_0/run_randoop_0000.sh
benchmarks/09_decision_tree/abmargb_0_0/RegressionTestDriver.dtrace.gz
benchmarks/09_decision_tree/abmargb_0_0/RegressionTestDriver.inv.gz
benchmarks/09_decision_tree/abmargb_0_0/__randoop_0000/
benchmarks/09_decision_tree/abmargb_0_0/dljc-out/
benchmarks/09_decision_tree/abmargb_0_0/run_randoop_0000.sh
benchmarks/09_decision_tree/aditsu_0_1/RegressionTestDriver.dtrace.gz
benchmarks/09_decision_tree/aditsu_0_1/RegressionTestDriver.inv.gz
benchmarks/09_decision_tree/aditsu_0_1/__randoop_0000/
benchmarks/09_decision_tree/aditsu_0_1/dljc-out/
benchmarks/09_decision_tree/aditsu_0_1/run_randoop_0000.sh
benchmarks/09_decision_tree/agus.mw_0_1/RegressionTestDriver.dtrace.gz
benchmarks/09_decision_tree/agus.mw_0_1/RegressionTestDriver.inv.gz
benchmarks/09_decision_tree/agus.mw_0_1/__randoop_0000/
benchmarks/09_decision_tree/agus.mw_0_1/dljc-out/
benchmarks/09_decision_tree/agus.mw_0_1/run_randoop_0000.sh
benchmarks/09_decision_tree/alexey.enkov_0_1/RegressionTestDriver.dtrace.gz
benchmarks/09_decision_tree/alexey.enkov_0_1/__randoop_0000/
benchmarks/09_decision_tree/alexey.enkov_0_1/dljc-out/
benchmarks/09_decision_tree/alexey.enkov_0_1/run_randoop_0000.sh
benchmarks/10_your_rank_is_pure/A20_2_0/RegressionTestDriver.dtrace.gz
benchmarks/10_your_rank_is_pure/A20_2_0/__randoop_0000/
benchmarks/10_your_rank_is_pure/A20_2_0/dljc-out/
benchmarks/10_your_rank_is_pure/A20_2_0/run_randoop_0000.sh
benchmarks/10_your_rank_is_pure/ALARM_2_1/RegressionTestDriver.dtrace.gz
benchmarks/10_your_rank_is_pure/ALARM_2_1/RegressionTestDriver.inv.gz
benchmarks/10_your_rank_is_pure/ALARM_2_1/__randoop_0000/
benchmarks/10_your_rank_is_pure/ALARM_2_1/dljc-out/
benchmarks/10_your_rank_is_pure/ALARM_2_1/run_randoop_0000.sh
benchmarks/10_your_rank_is_pure/a_kudryashov_2_1/RegressionTestDriver.dtrace.gz
benchmarks/10_your_rank_is_pure/a_kudryashov_2_1/RegressionTestDriver.dtrace.gz
benchmarks/10_your_rank_is_pure/a_kudryashov_2_1/RegressionTestDriver.inv.gz
benchmarks/10_your_rank_is_pure/a_kudryashov_2_1/RegressionTestDriver.inv.gz
benchmarks/10_your_rank_is_pure/a_kudryashov_2_1/__randoop_0000/
benchmarks/10_your_rank_is_pure/a_kudryashov_2_1/dljc-out/
benchmarks/10_your_rank_is_pure/a_kudryashov_2_1/run_randoop_0000.sh
benchmarks/10_your_rank_is_pure/abdoabdo5_2_0/RegressionTestDriver.dtrace.gz
benchmarks/10_your_rank_is_pure/abdoabdo5_2_0/RegressionTestDriver.inv.gz
benchmarks/10_your_rank_is_pure/abdoabdo5_2_0/__randoop_0000/
benchmarks/10_your_rank_is_pure/abdoabdo5_2_0/dljc-out/
benchmarks/10_your_rank_is_pure/abdoabdo5_2_0/run_randoop_0000.sh
benchmarks/10_your_rank_is_pure/abusi_2_1/RegressionTestDriver.dtrace.gz
benchmarks/10_your_rank_is_pure/abusi_2_1/RegressionTestDriver.dtrace.gz
benchmarks/10_your_rank_is_pure/abusi_2_1/RegressionTestDriver.inv.gz
benchmarks/10_your_rank_is_pure/abusi_2_1/RegressionTestDriver.inv.gz
benchmarks/10_your_rank_is_pure/abusi_2_1/__randoop_0000/
benchmarks/10_your_rank_is_pure/abusi_2_1/dljc-out/
benchmarks/10_your_rank_is_pure/abusi_2_1/run_randoop_0000.sh
benchmarks/11_rpi/NabZ_0_1/RegressionTestDriver.dtrace.gz
benchmarks/11_rpi/NabZ_0_1/RegressionTestDriver.inv.gz
benchmarks/11_rpi/NabZ_0_1/__randoop_0000/
benchmarks/11_rpi/NabZ_0_1/dljc-out/
benchmarks/11_rpi/NabZ_0_1/run_randoop_0000.sh
benchmarks/11_rpi/Nayan_0_1/RegressionTestDriver.dtrace.gz
benchmarks/11_rpi/Nayan_0_1/RegressionTestDriver.inv.gz
benchmarks/11_rpi/Nayan_0_1/__randoop_0000/
benchmarks/11_rpi/Nayan_0_1/dljc-out/
benchmarks/11_rpi/Nayan_0_1/run_randoop_0000.sh
benchmarks/11_rpi/Nipunn_0_1/RegressionTestDriver.dtrace.gz
benchmarks/11_rpi/Nipunn_0_1/RegressionTestDriver.inv.gz
benchmarks/11_rpi/Nipunn_0_1/__randoop_0000/
benchmarks/11_rpi/Nipunn_0_1/dljc-out/
benchmarks/11_rpi/Nipunn_0_1/run_randoop_0000.sh
benchmarks/11_rpi/Vanja_0_1/RegressionTestDriver.dtrace.gz
benchmarks/11_rpi/Vanja_0_1/RegressionTestDriver.inv.gz
benchmarks/11_rpi/Vanja_0_1/__randoop_0000/
benchmarks/11_rpi/Vanja_0_1/dljc-out/
benchmarks/11_rpi/Vanja_0_1/run_randoop_0000.sh
