# if you are on a mac.
**/.DS_Store

**/*.pyc

type_inference/annotation-tools/
type_inference/checker-framework-inference/
type_inference/checker-framework/
type_inference/dataflowexample
type_inference/generic-type-inference-solver/
type_inference/jsr308-langtools/

